<div class="page-header">
	<h1>Markus' Sinatra Playground <small>playing around since 2013</snall></h1>
</div>
<p class='lead'>this is markus' sinatra playground app</p>

<div class='row'>
	<div class='col-md-6'>
		links
	</div>
	<div class='col-md-6'>
		rechts
	</div>
</div>